<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <!--
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
    -->
    <link rel="manifest" href="/static/manifest.json">
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/main.css">
    <title>Elm App</title>

    <script src="/static/app.js"></script>

</head>
<body>
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <div id="root"></div>
    <script>
/**** indexedDB ****/
let request = window.indexedDB.open('eventstore', 1);
request.onupgradeneeded = function(e) {
    console.log('Upgrading database...')
    const db = e.target.result;
    try {
        db.deleteObjectStore('events');
        console.log('Deleted the old database!')
    } catch(e) {}
    let idbstore = db.createObjectStore('events', {keyPath: 'uuid'});
    idbstore.createIndex('uuid', 'uuid', { unique: true });
    //idbstore.createIndex('layouts', ['model', 'rel']);
    console.log('Database upgraded')
};
/**** Random UUID ****/
const crypto = window.crypto || window.msCrypto;
const getRandomInts = (n) => {
    const randInts = new Uint32Array(n);
    crypto.getRandomValues(randInts);
    return Array.from(randInts);
};
/**** run Elm ****/
const randInts = getRandomInts(5);
const flags = [randInts[0], randInts.slice(1)]
var app = Elm.Main.init({flags:flags});
/**** subscribe to Ports ****/
app.ports.storeEvent.subscribe(function(event) {
    let request = window.indexedDB.open('eventstore', 1);
    request.onsuccess = function(e) {
        console.log("open IDB successful");
        const db = e.target.result;
        const transaction = db.transaction(['events'], 'readwrite');
        transaction.oncomplete = function(e) {
            console.log("transaction complete")
        }
        transaction.onerror = function(e) {
            alert("transaction error:" + transaction.error) // FIXME
        }
        const addrequest = transaction.objectStore('events').add(event)
        addrequest.onsuccess = (e) => {
            console.log('Event successfully added to IDB')
            db.close()
        }
        addrequest.onerror = (e) => {
            alert("IDB write failed: " + addrequest.error); // FIXME
        }
    }
    request.onerror = (e) => { alert("open IDB failed: " + request.error); /* FIXME */ }
});
    </script>
</body>
</html>
