[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
webdriver-manager = "*"
pytest = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.11"
